 a.active{
    border: 2px solid green;
    border-radius: 10px;
}

.manu a{
    padding: 10px 20px;
    background-color: rgb(224, 230, 235);
    margin: 0 5px;
    border-radius: 5px;
}

.shadow{
    box-shadow: 1px 1px 10px;
}