 .manu a.active{
    border: 2px solid green;
    border-radius: 6px;
 }
 a.active:hover{
    background-color: rgb(193, 193, 147);
    transition: .4s;
}

.manu a{
    padding: 10px 20px;
    background-color: rgb(224, 230, 235);
    margin: 0 5px;
    border-radius: 5px;
}

.shadow{
    box-shadow: 1px 1px 10px;
}

/* .manu a:hover{
    background: #6ec87a;
    color: white;
    transition: .5s;
} */